*,
*::after,
*::before{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Alumni Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 28px;
  color: #555;
}

html {
  scroll-behavior: smooth;
}

img:hover{
  transform: scale(1.1);
  box-shadow: -10px -8px 13px -5px rgba(34, 60, 80, 0.6);
}

a:hover{
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  font-size: 35px;
  transition: .5s;
}

h2{
  color: black;
  background-color: pink;
}

.price{
  color: hotpink;
  font-size: 33px;
  font-style: italic;
}

/*-----------------------------------------------for all*/

.list{
  min-height: 100vh;
  position: relative;
}

.list .card{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapperAll{
  max-width: 920px;
  margin: 0 auto;
}

 .firstpage .card .foto{
   display: inline-block;
   width: 50%;
   padding: 30px;
 }

.firstpage .card .foto img{
  transition: .5s
}

.firstpage .card .info{
  display: inline-block;
  width: 50%;
  padding: 45px;
  vertical-align: top;
}

.firstpage .card .info a{
  display: block;
  text-decoration: none;
  position: center;
  color: darkgreen;
  text-align: center;
}
/*--------------------------------------inline done*/

table {
  border-collapse: collapse;
}

.secondpage .card .foto{
  width: 50%;
  padding: 30px;
}

.secondpage .card .info{
  width: 50%;
  padding: 40px;
}

.secondpage .card .info a{
  display: block;
  text-align: center;
  text-decoration: none;
  position: center;
  color: darkgreen;
}

.secondpage .card .foto img{
  transition: .5s;
}

/*----------------------------------------------------table done*/

.thirdpage .card .info{
  padding: 40px;
  vertical-align: top;
}

.thirdpage .card .info h2{
  display: flex;
}

.thirdpage .card .info a{
  display: block;
  text-align: center;
  text-decoration: none;
  position: center;
  color: darkgreen;
}

.thirdpage .card .foto{
  float: left;
  width: 50%;
  padding: 30px;
}

.thirdpage .card .foto img{
  width: 100%;
  object-fit: cover;
  transition: .5s;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------------float done*/

.pageWrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.pageWrapper .foto img{
  padding: 40px;
  transition: .5s;
}

.pageWrapper .info{
  padding: 30px;
}

.pageWrapper .info a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: darkgreen;
}
 /*--------------------------------------------------------flex done*/


@media screen and (max-width: 860px) {
  .firstpage .card .foto,
  .secondpage .card .foto,
  .thirdpage .card .foto,
  .firstpage .card .foto {
    text-align: center;
  }

  .firstpage .card .foto,
  .firstpage .card .info {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .secondpage tr {
    display: flex;
    flex-direction: column;
  }

  .secondpage .card .foto,
  .secondpage .card .info {
    width: 100%;
  }

  .thirdpage .card .foto,
  .thirdpage .card .info {
    float: initial;
    margin: 0 auto;
  }

  .fourpage .pageWrapper {
    flex-direction: column;
  }

}